:root {
  --primary-color: #ebe9e2;
  --second-color: #373737;
  --third-color: #d7d0c7;
  --main-font: "Playfair Display", serif;
  --font-family: "Roboto Mono", monospace;
}

body {
  background-color: var(--primary-color);
}

h1,
footer {
  text-align: center;
}

h1 {
  font-family: var(--main-font);
  font-size: 60px;
  padding: 100px;
  text-align: center;
  background-color: #91988a;
  color: var(--primary-color);
}

footer {
  padding: 50px;
  font-family: var(--font-family);
}

small {
  color: var(--second-color);
  font-size: 12px;
}

button {
  font-family: var(--font-family);
  font-size: 13px;
  display: block;
  padding: 5px 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
  background: #1d1d1b;
  color: var(--third-color);
  border: none;
}

.form-input {
  font-family: var(--font-family);
  font-size: 13px;
}

.form-control {
  font-size: 13px;
}

.navigation-links {
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.navigation-links a {
  color: var(--second-color);
  font-family: var(--font-family);
  text-decoration: none;
}

.artwork-images {
  margin-top: 30px;
  max-width: 70%;
}

.artwork-description {
  color: var(--second-color);
  font-family: var(--font-family);
  font-size: 12px;
  margin-top: 10px;
}

.aboutme-paragraph,
.aboutme-photo {
  padding-top: 50px;
}

.aboutme-photo {
  max-width: 80%;
}

.aboutme-paragraph {
  font-family: var(--font-family);
  color: var(--second-color);
  font-size: 12px;
  text-align: left;
  max-width: 75%;
}

.socialmedia-links {
  color: black;
  text-decoration: none;
  margin-left: 5px;
}

.contact-link {
  color: var(--second-color);
  text-decoration: none;
  font-size: 13px;
}

.codedby-link {
  color: var(--second-color);
  text-decoration: none;
}

@media (max-width: 480px) {
  .aboutme-photo {
    max-width: 100%;
  }

  .aboutme-paragraph {
    margin-left: 50px;
  }

  .navigation-links {
    gap: 20px;
    font-size: 13px;
  }

  .artwork-description {
    font-size: 12px;
  }

  h1 {
    font-size: 35px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 30px;
  }

  .artwork-description {
    font-size: 11px;
  }
}
